@tailwind base;
@tailwind components;
@tailwind utilities;



* {

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

html {

  scroll-behavior: smooth;

}

@layer base {
  :root {

    --radius: 0.5rem;

  }

}


::selection {
  background: black;
  /* background color for the selected text */
  color: white;
  /* text color for the selected text */
}



/* For WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
  /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: white;
  /* background of the track */
}

::-webkit-scrollbar-thumb {
  background: black;
  /* color of the scrollbar thumb */
  border-radius: 6px;
  /* rounded edges for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(46, 46, 46);
  cursor: pointer;
  /* color when hovering over the thumb */
}



/* Profile dropdown */
.dropdown {

  display: block;


}

.dropdown::before {

  content: '';
  position: absolute;
  top: -0.8rem;
  right: 3.2rem;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  background-color: white;
  border-top: 1px solid #d1d5db;
  border-left: 1px solid #d1d5db;

}





.shimmer {
  background: #f6f7f8;
  background-image: linear-gradient(to right,
      #f6f7f8 0%,
      #edeef1 20%,
      #f6f7f8 40%,
      #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}






/* Force Google One Tap Popup Dark Mode */
#credential_picker_container {
  background: #1a1a1a !important;
  /* Dark background */
  color: white !important;
  /* White text */
}

#credential_picker_container * {
  filter: invert(1) hue-rotate(180deg);
  /* Inverts colors for dark mode */
}